
shaders/textures/minecraft_vanilla_textureAtlas.psd
shaders/textures/minecraft_vanilla_textureAtlas-2022-04-10.psd
shaders/textures/minecraft_vanilla_glowAtlas.png.mcmeta
shaders/textures/minecraft_vanilla_glowAtlas.png
utils/stats/*
*.psd
